
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <main class="page-content">
        <div class="wrapper">
        <div class="home-nuevos-talleres">
          <h2>¡Nuevos talleres!</h2>
          <p>Queremos incorporar <strong>nuevos talleres</strong> a la ComCom. Tenemos algunas
          ideas, pero necesitamos gente que nos dé una mano para organizarlos
          y llevarlos a cabo.</p> <p>Si te gustaría sumarte, completá
          <a href="https://goo.gl/forms/bqeaCQBnDDkhOvLL2">este formulario</a>.</p>
        </div>

        <ul class="home-talleres">
            <li>
        {% for taller in site.data.talleres %}
          <a href="/talleres/{{ taller.path }}">
            <div class="taller-logo"><img src="/static/img/{{ taller.logo }}" height="96"></img></div>
            <div class="taller-nombre">{{ taller.name }}</div>
            <div class="taller-fecha">{{ taller.date }}</div>
          </a></li>
        {% endfor %}
        </ul>

      </div>
    </div>
    </div>
</main>
    {% include footer.html %}

  </body>

</html>
