<!DOCTYPE html>
<html>
  {% assign customStyle = "hackaton.css" %}
  {% assign customHead = "hackatonHead.html" %}
  {% include head.html %}
  <body class="hackaton-body">
    {% include header.html %}
    <main class="page-content">
      <div class="wrapper">
        <div class="hackaton">
          {{ content }}
        </div>
      </div>
    </main>
    {% include footer.html %}
    <a class="hk-gnomo" href="https://timbear.gratis/muro/" title="Buscá equipo en el muro"><img src="/static/img/hack/gnomo-dorado.svg" alt="Gnomo: ir al muro de la hackatón"></a>
  </body>
</html>
