<!DOCTYPE html>
<html>
  {% assign customStyle = "tallerIndex.css" %}
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content">
        <div class="wrapper">
        <div class="centered">
        <ul class="index-talleres">
        {% for taller in site.talleres %}
        {% if taller.tags contains 'index' %}
        <a href="{{ taller.url | prepend: site.baseurl }}">
          <li class="index-taller-item">
            <img class="taller-logo" src="/static/img/{{taller.tallerid}}/small-logo.min.svg" height="96"></img>
            <div class="taller-nombre">{{ taller.title }}</div>
        </li> 
      </a>
      {% endif %}
        {% endfor %}
        </ul>
      </div>
      </div>
</main>
    {% include footer.html %}

  </body>

</html>
